<div class="block-footer-text {{ field.component_class }}">
  <div class="block--inner">
    <h2 class="block-title">{{ field.footer_title }}</h2>
    <div class="block--content">{{ field.footer_text_body }}</div>
  </div>
</div>