<div class="footer-menu-wrapper">
  <div class="footer-menu-inner">
  {% for field in footer_menu %}
    {% include 'footer_menu-item.twig' with {'field': field} only %}
  {% endfor %}
  </div>
</div>