<div class="footer-text-wrapper">
  <div class="footer-text-inner">
  {% for field in footer_text %}
    {% include 'footer_text-item.twig' with {'field': field} only %}
  {% endfor %}
  </div>
</div>
